
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	text-align: center;
	position: relative;
	background-color: #000000;
 	 font-family: 'Open Sans', sans-serif;
  	color: #fff;
  	font-size: 16px;
}

h1, h2, h3, {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
} 

h1 {
	font-family: 'Monoton', cursive;
	font-size:60px;
	text-align: center;
	margin: 10px;
}

h2{
	border: 2px solid;
	padding: 5px;
	border-style: solid;
	border-top: #000000;
	border-right: #000000;
	border-left: #000000;
	border-bottom-color: #ff7761
}

p {
	text-align: center;
	color: #fff;
	font-size: 10px;
	font-style: 'Open Sans', sans-serif;
} 

	ul {
    text-align: center;
    list-style-type: none;
}

nav{
	font-size: 1.8em;
  	float: right;
}

nav a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 1.8em;
  display: inline-block;
  text-transform: uppercase;
}

a:hover {
	background-color: #fdc23e;
}

img{
	width: 100%; 
	height: auto;
	display: block;
	margin: 20px;
	padding-top: 20px;
}

#lauren {
	background-color: #000000;
	border: 1px black solid;
	padding: 2px;
	float: left;
}


#links {
	background-color: #000000;
	border: 1px black solid;
	padding: 20px;
	float: right;
}

#hero {
	background-color: #000000;
	border: 1px black solid;
	padding: 20px;
  	background: #000000;
}

.email {
	background-color: #000000;
	padding: 20px;
}

.section {
  	background-color: #000000;
	padding: 20px;
	float: left;   
    width: 33.33%;
}

#services {
	float: left;
}

#makeup {
	float: left;
}

#bridal {
	background-color: #000000;
	padding: 20px;
	float: right;
}

#whattoexpect{
	clear:both;
}

#footer {
	background-color: #000000;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

figure {
width: 100%;
max-width: 600px;
margin: 0 auto;
display: block;
}

#services ol {
	list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}