
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	text-align: center;
	position: relative;
	background-color: #ffe2b8;
 	 font-family: 'Open Sans', sans-serif;
  	color: white;
  	font-size: 16px;
}

h1, h2, h3, {
	text-align: center;
	color: ##FFFFF3;
	font-size: 22px;
} 

h1 {
	font-family: 'Monoton', cursive;
	font-size:60px;
	text-align: center;
	color: #fff;
	margin:200px 0 0;
}

p {
	text-align: center;
	color: white;
	font-size: 10px;
	font-style: 'Open Sans', sans-serif;
} 

	ul {
    text-align: center;
    list-style-type: none;
}

nav{
	font-size: 1.8em;
  	float: right;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 1.8em;
  display: inline-block;
}

a:hover {
	background-color: #aaaaaa;
}

img{
	width: 100%; 
	height: auto;
	display: block;
}

#lauren {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 5px;
	float: left;
}

#links {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#hero {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
  	background: #fffebb;
}


.email {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	float: left;
    width: 20%;
}

.section {
  	background-color: #FFE2B8;
	padding: 20px;
	float: right;   
    width: 42%;
}

#services {
	float: left;
}

#makeup {
	float: left;
}

#bridal {
	background-color: #FFE2B8;
	padding: 20px;
	float: right;
}

#whattoexpect{
	clear:both;
}

#footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

figure {
width: 100%;
max-width: 600px;
margin: 0 auto;
display: block;
}

#services ol {
	list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}