
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	text-align: center;
	position: relative;
	background-color: #000000;
 	font-family: 'Open Sans', sans-serif;
  	color: #fff;
  	font-size: 1em;
}

h1, h2, {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 3.5em;
	margin: .25em;
}

h2{
	border: .15em solid;
	padding: .5em;
	border-style: solid;
	border-top: #000000;
	border-right: #000000;
	border-left: #000000;
	border-bottom-color: #ff7761
}

h2.header-stylist{
	margin: 0 auto;
  	width: 50%
	}

h3 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

p {
	// text-align: right;
	color: #fff;
	font-size: 1em;
	font-style: 'Lora', serif;
}

ul {
    text-align: center;
    list-style-type: none;
}

nav {
	font-size: 1.8em;
  	float: right;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-size: .75em;
	margin: 1.8em;
	display: inline-block;
	text-transform: uppercase;
}

a:hover {
	background-color: #274555
}

#lauren {
	background-color: #000000;
	border: .25em black solid;
	padding: .5em;
	width: 100%;
	float: none;
	text-align: center;
}

#links {
	border: .25em black solid;
	padding: 1em;
  	width: 100%;
  	float: none;
}

.email {
	background-color: #000000;
	padding: 1em;
}

.section {
  	background-color: #3f4040;
	padding: 1em;
 	width: 30%;
  	display: inline-block;
  	height: 345px;
 }

#services {
  	position:relative;
 	margin:auto;
}

#whattoexpect{
	position: relative;
	margin: auto;
}

#bridal {
  position:relative;
  margin:auto;
}


.list {
	display: block;
	top: 16px;
	right: 0;
	left: 0;
	text-align: center;
	position: absolute;
}

.section-inner {
	position: relative;
	width: 100%;
}

.section-inner h4 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}

.section-inner:hover h4 {
opacity: 1;
}

h4 { 
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  color:#fff;
  font-size:1.25em;
  padding:30% 0 0;
  margin:0;
}

.section:hover > h4, ul{
  display:block;
}

img {
  display: block;
  width: 100%;
  padding: 16px;
}

.image-container {
	width: 100%;
}


#whattoexpect{
	clear:both;
}

#footer {
	background-color: #000000;
	border: .25em black solid;
	padding: 1em;
	clear: both;
}

figure {
width: 100%;
max-width: 600px;
margin: 0 auto;
display: block;
}

#services ol {
	list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.more-information {
  clear: both
}

.mobile-list {
	display: none;
}


@media only screen and (max-width: 768px) {
	.section-inner:hover,
	.section:hover > h4, ul{
		display: initial;
	}
	.mobile-list {
		display: block;
	}
	.section { 
		display: block;
		height: 100%;
	}
	.list {
		position: relative;
		top: 0;
		background-color: #3f4040;
	}
	img{
		display: block;
		width: 100%;
		padding: 16px;
	}
	.image-container {
		width:100%;
	}
}
@media only screen and (max-width: 1160px) {
	#services, #makeup, #bridal, #whattoexpect {
		float: none;
		width: auto;
    	font-size: 1.4em;
    	line-height: 1.8em;
 		 }

 		 .section {
 		 	height: 100%;
 		 }

h1, h2{
	text-align: center;
}
nav a {
	display: block;
	text-align: center;
}
img {
    width: 100%;
  }
}

	@media only screen and (max-width: 1260px) {
		img {
    	width: 100%;
  		}
	}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}