
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body{
	text-align: center;
	position: relative;
	background-color: #ffe2b8;
 	 font-family: 'Oswald', cursive;
  	color: white;
  	font-size: 16px;
}

h1, h2, h3, {
	text-align: center;
	color: ##FFFFF3;
	font-size: 22px;
} 

h1 {
	font-family: 'Monoton', cursive;
	font-size:60px;
	text-align: center;
	color: #fff;
	margin:200px 0 0;
}

p {
	text-align: center;
	color: #E0E3DA;
	font-size: 22px;
	font-style: 'Open Sans', sans-serif;
} 

	ul {
    text-align: center;
    list-style-type: none;
}

img{
	width: 100%; 
	height: auto;
	display: block;
}

#lauren {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#links {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#hero {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

.email {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

.section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


#bridal {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

figure {
width: 100%;
max-width: 600px;
margin: 0 auto;
display: block;
}

#services ol {
	list-style: none;
}
