*{
	padding: 0;
	margin: 0;
}

body{
	text-align: center;
	background-color: black;
	background-size: cover;
  font-family: Helvetica;
  color: white;
}

h1, h2, h3, {
	text-align: center;
	color: ##FFFFF3;
	font-size: 22px;
} 
p {
	text-align: center;
	color: #E0E3DA;
	font-size: 22px;
	font-style: italic;
} 

	ul {
    text-align: center;
    list-style-type: none;
}
